<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742380403823-i4hhlqtner3k0f92cqcetikftuij8l8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742380403823-i4hhlqtner3k0f92cqcetikftuij8l8c</string>
	<key>API_KEY</key>
	<string>AIzaSyBKEWl61PCQAkOE8JeCWQBBwslt0eZt8Pc</string>
	<key>GCM_SENDER_ID</key>
	<string>742380403823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ni.ChatPrroject</string>
	<key>PROJECT_ID</key>
	<string>chatproject-4aa95</string>
	<key>STORAGE_BUCKET</key>
	<string>chatproject-4aa95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742380403823:ios:40dfdb88eeaa82bed9619a</string>
</dict>
</plist>